
<ion-view view-title="">
    <ion-nav-buttons>
        <a class="button button-clear" ng-style="liveTopStyle1" ng-click="changeTopStyle1()">问吧</a>
        <a class="button button-clear" ng-style="liveTopStyle2" ng-click="changeTopStyle2()">话题</a>
        <a class="button button-clear" ng-style="liveTopStyle3" ng-click="changeTopStyle3()">关注</a>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-clear ion-ios-search"></button>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <button class="button button-clear ion-android-person"></button>

    </ion-nav-buttons>
    <ion-content>
        <h1>话题</h1>
    </ion-content>
</ion-view>