
<ion-view view-title="">
    <ion-nav-buttons>
        <a class="button button-clear" ng-style="liveTopStyle1" ng-click="changeTopStyle1()">问吧</a>
        <a class="button button-clear" ng-style="liveTopStyle2" ng-click="changeTopStyle2()">话题</a>
        <a class="button button-clear" ng-style="liveTopStyle3" ng-click="changeTopStyle3()">关注</a>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-clear ion-ios-search"></button>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <button class="button button-clear ion-android-person"></button>

    </ion-nav-buttons>
    <ion-content>
        <div class="card">
            <a class="button" style="line-height: 30px;padding-top: 10px" ng-repeat="lists in listIteams">
                <div>
                    <div style="display: block;height: 30px">
                        <img src="{{lists.icon}}">
                    </div>
                    <sapn>{{lists.name}}</sapn>
                </div>
            </a>
            <button id="down" style="position: absolute;margin-top: -168px;margin-left: -99px;z-index: 9999" class="ion-ios-arrow-down" ng-click="show1()"></button>
        </div>
        <h1>话题</h1>
    </ion-content>
</ion-view>